# Virtual Environments
venv/
env/
.venv/
ENV/

# Model files
*.pkl

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Jupyter Notebook artifacts
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
.DS_Store

# Logs
*.log
